.wi-owm-night-314:before {
  content: "";
}

.wi-owm-night-321:before {
  content: "";
}

.wi-owm-night-500:before {
  content: "";
}

.wi-owm-night-501:before {
  content: "";
}

.wi-owm-night-502:before {
  content: "";
}

.wi-owm-night-503:before {
  content: "";
}

.wi-owm-night-504:before {
  content: "";
}

.wi-owm-night-511:before {
  content: "";
}

.wi-owm-night-520:before {
  content: "";
}

.wi-owm-night-521:before {
  content: "";
}

.wi-owm-night-522:before {
  content: "";
}

.wi-owm-night-531:before {
  content: "";
}

.wi-owm-night-600:before {
  content: "";
}

.wi-owm-night-601:before {
  content: "";
}

.wi-owm-night-602:before {
  content: "";
}

.wi-owm-night-611:before {
  content: "";
}

.wi-owm-night-612:before {
  content: "";
}

.wi-owm-night-615:before {
  content: "";
}

.wi-owm-night-616:before {
  content: "";
}

.wi-owm-night-620:before {
  content: "";
}

.wi-owm-night-621:before {
  content: "";
}

.wi-owm-night-622:before {
  content: "";
}

.wi-owm-night-701:before {
  content: "";
}

.wi-owm-night-711:before {
  content: "";
}

.wi-owm-night-721:before {
  content: "";
}

.wi-owm-night-731:before {
  content: "";
}

.wi-owm-night-741:before {
  content: "";
}

.wi-owm-night-761:before {
  content: "";
}

.wi-owm-night-762:before {
  content: "";
}

.wi-owm-night-781:before {
  content: "";
}

.wi-owm-night-800:before {
  content: "";
}

.wi-owm-night-801:before {
  content: "";
}

.wi-owm-night-802:before {
  content: "";
}

.wi-owm-night-803:before {
  content: "";
}

.wi-owm-night-804:before {
  content: "";
}

.wi-owm-night-900:before {
  content: "";
}

.wi-owm-night-902:before {
  content: "";
}

.wi-owm-night-903:before {
  content: "";
}

.wi-owm-night-904:before {
  content: "";
}

.wi-owm-night-906:before {
  content: "";
}

.wi-owm-night-957:before {
  content: "";
}

.wi-wu-chanceflurries:before {
  content: "";
}

.wi-wu-chancerain:before {
  content: "";
}

.wi-wu-chancesleat:before {
  content: "";
}

.wi-wu-chancesnow:before {
  content: "";
}

.wi-wu-chancetstorms:before {
  content: "";
}

.wi-wu-clear:before {
  content: "";
}

.wi-wu-cloudy:before {
  content: "";
}

.wi-wu-flurries:before {
  content: "";
}

.wi-wu-hazy:before {
  content: "";
}

.wi-wu-mostlycloudy:before {
  content: "";
}

.wi-wu-mostlysunny:before {
  content: "";
}

.wi-wu-partlycloudy:before {
  content: "";
}

.wi-wu-partlysunny:before {
  content: "";
}

.wi-wu-rain:before {
  content: "";
}

.wi-wu-sleat:before {
  content: "";
}

.wi-wu-snow:before {
  content: "";
}

.wi-wu-sunny:before {
  content: "";
}

.wi-wu-tstorms:before {
  content: "";
}

.wi-wu-unknown:before {
  content: "";
}

p:empty {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.header-center .title-header-container>h1,
.header-center .title-header-container>span,
.h2,
.h3,
.h4,
.h5,
.h6,
.lead {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "archer_boldregular","Archer A","Archer B","Palatino Linotype","Book Antiqua",Palatino,Georgia,serif;
}

.lead {
  line-height: 1.5;
  font-family: "archer_mediumregular", Georgia, serif;
}

.ucf-gold {
  color: #ffc904;
}

.text-weight-light {
  font-weight: 300;
}

.text-weight-heavy {
  font-weight: 800;
}

hr {
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  hr {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

strong {
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
}

.main-site-footer .main-site-title {
  font-family: "gotham_lightregular", Helvetica, Arial, sans-serif;
}

.header-center .title-header-container>span,
.header-center,
.header-center .weather,
.header-center .weather .location,
.site-footer .all-link,
.calendar-events .all-link {
  font-family: "archer_boldregular", Georgia, serif;
}

.site-footer .footer-news h3,
.site-footer .footer-events .event-details h4 {
  font-family: "archer_mediumregular", Georgia, serif;
}

.btn,
.gform_button,
.btn-ucf,
.table,
input,
label,
select,
textarea,
.gform_button,
.site-footer,
.site-footer h2,
.callout .icon-linkz a h3,
.calendar-events .event-details {
  font-family: "gotham_lightregular", Helvetica, Arial, sans-serif;
}

.alert,
.badge,
.breadcrumb,
.btn,
.gform_button,
.carousel,
.collapse,
.gform_button,
.jumbotron,
.label,
.list-group,
.media,
.modal,
.nav,
.navbar,
.pagination,
.panel,
.ucf-dropdown,
.well,
.calendar-events {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
}

input,
label,
select,
textarea {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

#gform_fields_1 {
  list-style: none;
  padding: 0;
}

.ginput_container>textarea {
  height: 100px;
}

.gfield {
  margin-bottom: 12px;
}

.gfield .gfield_label {
  display: none !important;
}

.gform_button {
  background: #fc0;
  color: #fff;
}

.callout {
  background: #fc0;
  margin: 0 auto;
  text-align: center;
  padding: 48px 0;
}

.callout:last-child {
  margin-right: 0;
}

.campaign-spotlight {
  display: block;
}

.campaign-spotlight img {
  position: relative;
  width: 100%;
}

.campaign-spotlight h2 {
  display: block;
  font-size: 22px;
  font-weight: 700;
  left: 55px;
  letter-spacing: 3px;
  line-height: 1.3;
  position: absolute;
  right: 55px;
  text-align: center;
  text-shadow: 1px 1px 8px #000;
  text-transform: uppercase;
  top: 20px;
}

@media (min-width: 1200px) {
  .campaign-spotlight h2 {
    font-size: 27px;
  }
}

@media (max-width: 991px) {
  .campaign-spotlight h2 {
    font-size: 27px;
  }
}

@media (max-width: 767px) {
  .campaign-spotlight h2 {
    font-size: 7vw;
    letter-spacing: 2px;
    line-height: 1.2;
  }
}

.campaign-spotlight .btn-wrapper {
  bottom: 20px;
  left: 20px;
  margin: auto;
  position: absolute;
  right: 20px;
  text-align: center;
  width: 75%;
}

.campaign-spotlight .btn,
.campaign-spotlight .gform_button {
  text-align: center;
  white-space: normal;
}

.icon-link {
  font-family: "gotham_lightregular", helvetica, arial, sans-serif;
  font-weight: 600;
}

.icon-link a {
  color: #000;
  margin-bottom: 40px;
  display: block;
}

.icon-link a:hover {
  text-decoration: none;
}

.icon-link a .fa {
  font-size: 80px;
  margin-bottom: 12px;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.icon-link a p {
  font-size: 16px;
  font-style: italic;
  padding-top: 18px;
  max-width: 220px;
  margin: 0 auto;
}

.icon-link a h3 {
  background: #c7a107;
  border-radius: 4px;
  display: inline;
  font-family: "gotham_lightregular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 34px;
}

.icon-link a:active .fa,
.icon-link a:focus .fa,
.icon-link a:hover .fa {
  color: #fff;
}

.icon-link a:active h3,
.icon-link a:focus h3,
.icon-link a:hover h3 {
  background: #786105;
  color: #ffc409;
}

.icon-link-small {
  display: inline-block;
  margin: 10px auto;
  width: 25%;
}

@media (max-width: 767px) {
  .icon-link-small {
    width: 50%;
  }
}

.icon-link-small a {
  color: #000;
}

.icon-link-small a .fa {
  font-size: 80px;
  margin-bottom: 12px;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.icon-link-small a h3 {
  background: rgba(30,30,30,0.25);
  border-radius: 4px;
  display: inline;
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 2px 14px;
  -webkit-transition: background 0.25s,color 0.25s;
  transition: background 0.25s,color 0.25s;
}

.icon-link-small a p {
  font-size: 12px;
  font-style: italic;
  padding-top: 8px;
}

.icon-link-small a:hover,
.icon-link-small a:active,
.icon-link-small a:focus {
  text-decoration: none;
}

.icon-link-small a:hover .fa,
.icon-link-small a:active .fa,
.icon-link-small a:focus .fa {
  color: #fff;
}

.icon-link-small a:hover h3,
.icon-link-small a:active h3,
.icon-link-small a:focus h3 {
  background: rgba(10,10,10,0.55);
  color: #fc0;
}

#site-nav-xs .weather {
  color: #fff;
  float: left;
  padding: 16px;
  position: relative;
}

#site-nav-xs .weather .icon {
  color: #fc0;
}

.weather {
  background: #000;
  display: inline-block;
  color: #fff;
  font-family: "archer_boldregular","Archer A","Archer B","Palatino Linotype","Book Antiqua",Palatino,Georgia,serif;
  font-size: 18px;
  line-height: 32px;
  padding: 6px 20px;
  position: absolute;
  right: 0;
  letter-spacing: 1.35px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .weather {
    font-size: 13px;
    padding: 0 14px;
  }
}

.weather .icon {
  display: inline-block;
  padding-right: 6px;
}

@media (max-width: 767px) {
  .weather .icon {
    padding-right: 4px;
  }
}

.weather .icon span {
  color: #ffc904;
  font-size: 27px;
  display: inline-block;
  position: relative;
  bottom: -3px;
}

@media (max-width: 767px) {
  .weather .icon span {
    font-size: 20px;
  }
}

.weather .vertical-rule {
  border-left: 1px solid #fff;
  margin-left: 4px;
  margin-right: 6px;
  width: 2px;
}

.weather .temp {
  margin-left: 4px;
  font-weight: 800;
}

.navbar-gold.center .weather {
  height: 0;
  padding: 0;
  margin: 0;
  -webkit-transform: translate(300px);
  -ms-transform: translate(300px);
  transform: translate(300px);
  width: 0;
}

.navbar-gold .weather {
  background: #000;
  color: #fff;
  font-family: "archer_boldregular","Archer A","Archer B","Palatino Linotype","Book Antiqua",Palatino,Georgia,serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  margin-right: -15px;
  padding: 17px 60px 17px 82px;
  text-transform: none;
  -webkit-transition: -webkit-transform .75s;
  transition: transform .75s;
}

@media (max-width: 1250px) {
  .navbar-gold .weather {
    padding: 17px 30px 17px 52px;
  }
}

@media (max-width: 1250px) {
  .navbar-gold .weather .location {
    display: none;
  }
}

@media (max-width: 1090px) {
  .navbar-gold .weather {
    display: none;
  }
}

.navbar-gold .weather .icon {
  color: #ffc904;
  position: absolute;
  top: 16px;
  font-size: 22px;
  margin-left: -35px;
}

.navbar-gold .weather .icon span {
  bottom: 3px;
}

.navbar-right .weather {
  position: relative;
}

.btn-ucf {
  background: #ffc904;
  border-radius: 0;
  color: #000;
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 17px 30px;
  text-transform: uppercase;
}

.btn-ucf:hover {
  background: #c90;
  color: #fff;
}

.navbar-gold {
  background-color: #fc0;
  border: none;
  border-radius: 0;
}

.navbar-gold .navbar-brand {
  color: #000;
}

.navbar-gold .navbar-brand:hover,
.navbar-gold .navbar-brand:focus {
  color: #fff;
}

.navbar-gold .navbar-text {
  color: #000;
}

.navbar-gold .navbar-nav>li>a {
  color: #000;
}

.navbar-gold .navbar-nav>li>a:focus {
  background-color: #fc0;
  color: #000;
}

.navbar-gold .navbar-nav>li>a:hover {
  background: #c90;
  color: #fff;
}

.navbar-gold .navbar-nav>li>.dropdown-menu {
  background-color: #fc0;
}

.navbar-gold .navbar-nav>li>.dropdown-menu>li>a {
  color: #000;
}

.navbar-gold .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-gold .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #c90;
}

.navbar-gold .navbar-nav>li>.dropdown-menu>li>.divider {
  background-color: #c90;
}

.navbar-gold .navbar-nav .open .dropdown-menu>.active>a,
.navbar-gold .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-gold .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #fff;
  background-color: #c90;
}

.navbar-gold .navbar-nav>.active>a,
.navbar-gold .navbar-nav>.active>a:hover,
.navbar-gold .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #c90;
}

.navbar-gold .navbar-nav>.open>a,
.navbar-gold .navbar-nav>.open>a:hover,
.navbar-gold .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #c90;
}

.navbar-gold .navbar-toggle {
  border-color: #c90;
}

.navbar-gold .navbar-toggle:hover,
.navbar-gold .navbar-toggle:focus {
  background-color: #c90;
}

.navbar-gold .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-gold .navbar-collapse,
.navbar-gold .navbar-form {
  border-color: #000;
}

.navbar-gold .navbar-link {
  color: #000;
}

.navbar-gold .navbar-link:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-gold .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
  }

  .navbar-gold .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-gold .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
  }

  .navbar-gold .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-gold .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-gold .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #c90;
  }
}

#site-nav-xs {
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  top: 10px;
  z-index: 100;
}

#site-nav-xs .navbar-brand {
  color: #333;
  background: #fc0;
  font-family: Georgia,serif,serif;
  font-size: 20px;
}

#site-nav-xs .navbar-title {
  color: #fff;
  float: left;
  font-family: Georgia,serif,serif;
  font-size: 20px;
  padding: 11px 16px;
  position: relative;
}

.navbar-gold {
  font-size: 11px;
  font-weight: 800;
  overflow: hidden;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .navbar-gold {
    overflow: visible;
  }
}

.navbar-gold.center {
  box-shadow: none;
  margin-bottom: 0;
  margin: 0 auto;
}

.navbar-gold .navbar-nav>li>a {
  padding-bottom: 17px;
  padding-top: 17px;
}

.navbar-gold .navbar-nav>li>a:focus {
  outline: none;
}

.navbar-gold .navbar-title {
  float: left;
  padding: 18px 0 0 18px;
}

@media (min-width: 992px) {
  .navbar-gold .navbar-title {
    display: none;
  }
}

.navbar-gold.breadcrumbs {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-gold.breadcrumbs .navbar-header {
    display: none;
  }
}

.navbar-gold.breadcrumbs .navbar-nav>li {
  list-style-type: none;
  font-size: 13px;
}

.navbar-gold.breadcrumbs .navbar-nav>li:hover,
.navbar-gold.breadcrumbs .navbar-nav>li:focus,
.navbar-gold.breadcrumbs .navbar-nav>li a:hover {
  background: none;
}

.navbar-gold.breadcrumbs .navbar-nav>li.active-breadcrumb {
  color: #000;
  background-color: #ffc904;
  text-decoration: underline;
}
.calendar-events {
  display: none!important;
}
.navbar-gold.breadcrumbs .navbar-nav>li.active-breadcrumb>.active-pad {
  padding: 17px 15px;
  display: block;
  position: relative;
}

.navbar-gold.breadcrumbs .navbar-nav>li+li:before {
  content: ">";
  float: left;
  padding: 17px 6px 17px 0px;
  color: #272727;
}

.navbar-gold.breadcrumbs .navbar-nav>li>a {
  color: #272727;
  margin-right: 0px;
}

.navbar-gold.breadcrumbs .navbar-nav>li>a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .navbar-gold.breadcrumbs .navbar-nav>li {
    margin-left: 18px;
  }

  .navbar-gold.breadcrumbs .navbar-nav>li+li:before {
    content: "";
  }
}

.navbar-gold.breadcrumbs .navbar-right .weather {
  padding-bottom: 19px;
  margin-right: 30px;
}

.search {
  padding: 0;
  border-bottom: 0;
  margin: 0 0 30px 0;
}

.search a {
  color: #272727;
  text-decoration: none;
}

.search .search-lead {
  font-family: "gotham_lightregular", helvetica, arial, sans-serif;
  margin: 0 auto 30px auto;
  display: block;
  text-align: center;
  font-size: 27px;
  letter-spacing: 1px;
}

.search-bar {
  position: relative;
}

.search-bar .fa-search {
  position: absolute;
  padding: 16px;
  font-size: 23px;
  color: #999;
  background: transparent;
  border: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
  right: 0px;
}

.search-bar .fa-search:hover {
  color: #272727;
}

.search-bar input {
  padding-right: 30px;
  color: #555;
}

.search-bar .form-control,
.search-bar .ginput_container>input,
.search-bar .ginput_container textarea,
.ginput_container .search-bar textarea {
  height: 57px;
  box-shadow: none;
}

.search-bar .form-control::-webkit-input-placeholder,
.search-bar .ginput_container>input::-webkit-input-placeholder,
.search-bar .ginput_container textarea::-webkit-input-placeholder,
.ginput_container .search-bar textarea::-webkit-input-placeholder {
  color: #272727;
  font-size: 17px;
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
}

.search-bar .form-control::-moz-placeholder,
.search-bar .ginput_container>input::-moz-placeholder,
.search-bar .ginput_container textarea::-moz-placeholder,
.ginput_container .search-bar textarea::-moz-placeholder {
  color: #272727;
  font-size: 17px;
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
}

.search-bar .form-control:-ms-input-placeholder,
.search-bar .ginput_container>input:-ms-input-placeholder,
.search-bar .ginput_container textarea:-ms-input-placeholder,
.ginput_container .search-bar textarea:-ms-input-placeholder {
  color: #272727;
  font-size: 17px;
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
}

.search-bar .form-control::placeholder,
.search-bar .ginput_container>input::placeholder,
.search-bar .ginput_container textarea::placeholder,
.ginput_container .search-bar textarea::placeholder {
  color: #272727;
  font-size: 17px;
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
}

.clear-results {
  font-size: 0.5em;
  opacity: 0.3;
}

.clear-results:hover {
  opacity: 0.8;
}

.student_service-list {
  list-style: none;
  padding: 0;
}

.service .row {
  margin-bottom: 30px;
}

.service .service-details a {
  color: #272727;
  text-decoration: none;
}

.service .service-details a:hover {
  color: #666;
}

.service .service-social {
  float: right;
}

.service .service-social a {
  text-decoration: none;
  position: relative;
  display: inline;
  font-size: 25px;
  margin-left: 47px;
  color: #909090;
}

.service .service-social a:hover {
  color: #d0d0d0;
}

@media (max-width: 991px) {
  .service .service-social a {
    margin-left: 20px;
  }
}

.service .service-title {
  font-family: "archer_boldregular", Georgia, serif;
  font-size: 27px;
  margin-top: -10px;
}

.service .service-title a {
  color: #337ab7;
}

.service .service-title::after {
  content: " ";
  background: #ffc904;
  display: block;
  height: 2px;
  margin-top: 0px;
  width: 25px;
  margin-bottom: 9px;
}

.service .service-category {
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
}

.service img {
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service img:hover {
  opacity: .8;
}

.filter-by h2 {
  font-family: "archer_boldregular", Georgia, serif;
  font-size: 19px;
  border-bottom: 1px solid #dedede;
  padding: 17px 0 6px 0;
  margin: 0;
  display: block;
  text-transform: uppercase;
}

.filter-by .panel {
  margin-top: 13px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.filter-by .list-group {
  list-style: none;
}

.filter-by .list-group .list-group-item {
  font-family: "gotham_blackregular", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 9px 10px;
  margin-bottom: 0px;
  background-color: #fff;
  border: none;
}

.filter-by .list-group .list-group-item:hover,
.filter-by .list-group .list-group-item.active {
  background-color: #eee;
}

.filter-by .filter-checkbox {
  display: none;
}

.filter-by input[type="checkbox"]:checked+label {
  background: #f7f7f7;
  color: #ffc409;
  border-radius: 0;
}

.filter-by input[type="checkbox"]:checked+label::after {
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #999;
  float: right;
}

.subpage-header,
.services-page-header,
.category-page-header {
  margin-bottom: 0px;
  height: 420px;
}

.subpage-header .header-image,
.services-page-header .header-image,
.category-page-header .header-image {
  height: 420px;
}

.subpage-header .header-center,
.services-page-header .header-center,
.category-page-header .header-center {
  display: table;
  position: relative;
  top: 170px;
  float: right;
  height: auto;
  width: auto;
}

.subpage-header .header-center .title-header-container,
.services-page-header .header-center .title-header-container,
.category-page-header .header-center .title-header-container {
  top: 0px;
}

.subpage-header .header-center .title-header-container .site-title,
.services-page-header .header-center .title-header-container .site-title,
.category-page-header .header-center .title-header-container .site-title {
  font-size: 50px;
}

.services-page p,
.category-page p {
  font-family: "gotham_lightregular", helvetica, arial, sans-serif;
  font-size: 18px;
  color: #272727;
  font-weight: 600;
  margin-bottom: 38px;
}

.services-page p.lead,
.category-page p.lead {
  font-family: "archer_mediumregular", Georgia, serif;
  font-size: 24px;
  font-weight: 300;
}

.services-page h1,
.category-page h1 {
  font-family: "archer_boldregular", Georgia, serif;
  display: inline-block;
  font-size: 47px;
  margin: 40px 0 30px 0;
}

.services-page h1::after,
.category-page h1::after {
  content: " ";
  background: #ffc904;
  display: block;
  height: 2px;
  margin-top: 13px;
  width: 25px;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .services-page h1,
  .category-page h1 {
    float: left;
  }
}

.services-page h2,
.category-page h2 {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}

.services-page .side-bar h2,
.category-page .side-bar h2 {
  text-transform: none;
}

.services-page h2::after,
.category-page h2::after {
  content: " ";
  background: #ffc904;
  display: block;
  height: 2px;
  margin-top: 12px;
  width: 25px;
  margin-bottom: 18px;
}

.services-page .service-social,
.category-page .service-social {
  margin-top: 55px;
}

.services-page .service-social a,
.category-page .service-social a {
  text-decoration: none;
  position: relative;
  display: inline;
  font-size: 22px;
  margin-left: 39px;
  color: #909090;
}

@media (max-width: 991px) {
  .services-page .service-social,
  .category-page .service-social {
    margin: 0 0 25px 0;
  }

  .services-page .service-social a,
  .category-page .service-social a {
    margin: 0 39px 0 0;
  }
}

.services-page h3.external-link a,
.category-page h3.external-link a {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}

.services-page h3.external-link a::after,
.category-page h3.external-link a::after {
  font-family: 'FontAwesome';
  content: '\f08e';
  margin: 0 5px;
  text-decoration: none;
}

.services-page .side-bar::before {
  content: "Vertical separator";
  color: transparent;
  position: absolute;
  left: -31px;
  width: 2px;
  height: 100%;
  background: #dedede;
}

@media (max-width: 991px) {
  .services-page .side-bar::before {
    display: none;
  }
}

.side-bar .campaign-spotlight .btn-ucf {
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  font-weight: 900;
}

.side-bar .table-bordered {
  border: none;
}

.side-bar .table-bordered>tbody>tr>td,
.side-bar .table-bordered>tbody>tr>th,
.side-bar .table-bordered>tfoot>tr>td,
.side-bar .table-bordered>tfoot>tr>th,
.side-bar .table-bordered>thead>tr>td,
.side-bar .table-bordered>thead>tr>th {
  outline: 2px solid #fff;
  padding: 12px;
  line-height: inherit;
  vertical-align: auto;
  border-top: none;
}

.side-bar table {
  font-family: "gotham_lightregular", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.side-bar table a {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
}

.side-bar .contact .fa {
  font-size: 25px;
  text-align: center;
  display: block;
}

.side-bar .contact tr td:nth-child(odd) {
  background: #ffc409;
}

.side-bar .contact tr td:nth-child(even) {
  background: #fff0d5;
  padding-left: 30px;
}

.side-bar .hours {
  outline: 2px solid #fff;
}

.side-bar .hours .day {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  display: block;
  text-align: center;
  margin: 0 -3px;
}

.side-bar .hours .fa-clock-o {
  margin: 0 25px 0 15px;
}

.side-bar .hours .table>tbody>tr>td,
.side-bar .hours .table>tbody>tr>th,
.side-bar .hours .table>tfoot>tr>td,
.side-bar .hours .table>tfoot>tr>th,
.side-bar .hours .table>thead>tr>td,
.side-bar .hours .table>thead>tr>th {
  color: #666666;
}

.side-bar .hours thead {
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  background: #d5d5d5;
}

.side-bar .hours tr td:nth-child(odd) {
  background: #d5d5d5;
}

.side-bar .hours tr td:nth-child(even) {
  background: #e6e6e6;
}

.side-bar .hours tr td.active:nth-child(odd) {
  background: #aeeebf;
}

.side-bar .hours tr td.active:nth-child(even) {
  background: #d5f1dd;
}

.side-bar .hours tr td.closing-soon:nth-child(odd) {
  background-color: #fef3b9 !important;
}

.side-bar .hours tr td.closing-soon:nth-child(even) {
  background-color: #fcf8e3 !important;
}

.side-bar .hours tr td.closed:nth-child(odd) {
  background-color: #edbbbb !important;
}

.side-bar .hours tr td.closed:nth-child(even) {
  background-color: #f2dede !important;
}

.side-bar .campaign-spotlight,
.side-bar .primary-action {
  text-align: center;
}

.side-bar .social a:hover,
.side-bar .social a:focus {
  text-decoration: none;
}

.side-bar .social .social-icon {
  color: #000000;
  font-size: 65px;
  margin-bottom: 30px;
}

.side-bar .tag-cloud a {
  text-decoration: none;
}

.side-bar .tag-cloud a .label {
  display: inline-block;
  padding: 7px 13px;
  color: #fff;
  background: #ffc409;
  text-transform: uppercase;
  color: #101010;
  margin: 3px 0;
}

.side-bar .tag-cloud a .label:hover {
  background: #c90;
}

@media screen and (max-width: 767px) {
  .side-bar .table-responsive {
    border: none;
  }
}

.calendar-events {
  background: #000;
  display: block;
  overflow: auto;
  padding: 18px 15px;
  color: #fff;
  margin: 20px 0;
}

.calendar-events .calendar-icon {
  color: #ffc409;
  font-size: 20px;
  margin-right: 5px;
}

.calendar-events .calendar-events-title {
  display: block;
  cursor: pointer;
  font-family: "gotham_boldregular", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}

.calendar-events .calendar-events-title::after {
  content: " ";
  background: #ffc904;
  display: block;
  height: 2px;
  margin-top: 12px;
  width: 25px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.calendar-events.collapsed .calendar-events-title::after {
  display: none;
}

.calendar-events .calendar-chevron {
  float: right;
  color: #ccc;
  margin: 2px 0 0 20px;
}

.calendar-events a {
  color: #ffc409;
}

.calendar-events a:hover {
  color: #fff;
}

.calendar-events .event .title {
  font-size: 16px;
  color: #ffc409;
  margin-top: 20px;
  line-height: 18px;
  text-transform: uppercase;
}

.calendar-events .event .date,
.calendar-events .event .date a,
.calendar-events .event .description {
  font-size: 16px;
  font-family: "archer_lightregular", Helvetica, Arial, sans-serif;
  color: #fff;
}

.calendar-events .event .date {
  font-style: italic;
  margin-bottom: 10px;
}

.calendar-events .all-link {
  float: right;
}

@media (max-width: 991px) {
  .calendar-events {
    display: none;
  }
}

.campaign,
.primary-action {
  background: #f3f3f3;
  outline: 1px solid #dedede;
  margin-bottom: 30px;
  background-size: cover !important;
}

.campaign-image,
.primary-action-image {
  padding: 20px 0 20px 20px;
}

.campaign-image>img,
.primary-action-image>img {
  max-width: 100%;
}

.campaign-content,
.primary-action-content {
  padding: 20px;
}

.campaign-title,
.primary-action-title {
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
  font-weight: 900;
  font-size: 21px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.campaign-title a,
.primary-action-title a {
  color: #272727;
  text-decoration: none;
}

.campaign .btn,
.campaign .gform_button,
.primary-action .btn,
.primary-action .gform_button {
  font-family: "gotham_boldregular", helvetica, arial, sans-serif;
  border-radius: 17px;
  background: #ffc409;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  padding: 10px 30px;
  font-weight: 900;
}

.campaign .btn:hover,
.campaign .gform_button:hover,
.primary-action .btn:hover,
.primary-action .gform_button:hover {
  background: #c90;
  color: #fff;
}

@media (max-width: 991px) {
  .campaign,
  .primary-action {
    background: #f3f3f3;
    background-image: none !important;
  }

  .campaign-title,
  .primary-action-title {
    font-size: 16px;
  }
}

body.nojs .header-image,
body.no-js .header-image {
  height: 300px;
}

#header-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.01));
  background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.01));
  margin-bottom: 5px;
  padding-top: 15px;
}

#header-menu li {
  padding: 15px 5px;
}

@media (max-width: 991px) {
  #header-menu li {
    padding: 0;
  }
}

#header-menu li:last-child {
  height: 25px;
}

#header-menu li:last-child:after {
  content: '' !important;
}

#header-menu li:last-child a {
  background-color: #fc0;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857143;
  margin-bottom: 0;
  margin-top: -5px;
  padding: 4px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

@media (min-width: 992px) {
  body.ie9 #header-menu li:last-child a {
    top: 1px;
  }
}

@media (max-width: 991px) {
  #header-menu li:last-child a {
    font-size: 11px !important;
  }
}

#header-menu li:last-child a:hover,
#header-menu li:last-child a:active,
#header-menu li:last-child a:focus {
  background-color: #000;
  color: #fff;
}

#header-menu a {
  color: #fff;
  font-family: Georgia,serif;
  font-size: 17px;
  font-weight: 400;
  padding: 7px;
}

@media (max-width: 991px) {
  #header-menu a {
    font-size: 14.25px !important;
  }
}

#header-menu a:hover,
#header-menu a:active,
#header-menu a:focus {
  background-color: #000;
  color: #fc0;
  text-decoration: none;
}

@media print {
  #header-menu a[href]:after {
    content: '';
  }
}

#site-nav-xs {
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  top: 10px;
  z-index: 100;
}

#site-nav-xs .navbar-brand {
  color: #333;
  background: #fc0;
  font-family: Georgia,serif,serif;
  font-size: 20px;
}

#site-nav-xs .navbar-title {
  color: #fff;
  float: left;
  font-family: Georgia,serif,serif;
  font-size: 20px;
  padding: 11px 16px;
  position: relative;
}

@media (min-width: 768px) {
  #site-nav-xs .navbar-collapse.collapse {
    display: none !important;
  }

  #site-nav-xs .navbar-collapse.collapse.in {
    display: block !important;
  }

  #site-nav-xs .navbar-header,
  #site-nav-xs .navbar-nav,
  #site-nav-xs .navbar-nav>li {
    float: none;
  }

  #site-nav-xs .navbar-toggle {
    display: block;
  }
}

#header-menu-xs-collapse {
  background: #101010;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  width: 100%;
}

#header-menu-xs-collapse.collapse.in {
  background: #101010;
  position: absolute;
  width: 100%;
}

#header-menu-xs {
  font-family: Georgia,serif,serif;
  z-index: 100;
}

#header-menu-xs li {
  margin-bottom: 0;
}

#header-menu-xs a {
  font-size: 14px;
  font-weight: bold;
}

#header-menu-xs .last {
  text-align: center;
}

#header-menu-xs .last a {
  background-color: #fc0;
  border-radius: 4px;
  color: #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  margin: 10px 15px;
  padding: 6px 15px;
}

.site-header {
  padding-bottom: 0px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .site-header {
    padding-bottom: 20px;
  }
}

.header-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header-image,
.header-image>.container {
  min-height: 300px;
  height: 520px;
}

@media (max-width: 767px) {
  .header-image,
  .header-image>.container {
    min-height: 0;
  }
}

.header-center {
  display: table;
  position: relative;
  top: 170px;
  float: right;
  height: auto;
  width: auto;
}

@media (max-width: 991px) {
  .header-center {
    top: 200px;
  }
}

@media (max-width: 767px) {
  .header-center {
    height: 400px;
    position: relative;
    top: 100px;
  }
}

.header-center .title-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.header-center .header-title {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.header-center .title-header-container {
  display: table;
  margin: 0 auto;
  position: relative;
  top: -80px;
}

@media (max-width: 767px) {
  .header-center .title-header-container {
    top: -100px;
  }
}

.header-center .title-header-container>h1,
.header-center .title-header-container>span {
  background-color: #FC0;
  background-color: #fc0;
  display: block;
  font-size: 80px;
  font-weight: 800;
  margin: 0;
  padding: 4px 30px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .header-center .title-header-container>h1,
  .header-center .title-header-container>span {
    font-size: 68px;
    padding: 4px 10px;
  }
}

@media (max-width: 991px) {
  .header-center .title-header-container>h1,
  .header-center .title-header-container>span {
    font-size: 55px;
    padding: 4px 5px;
  }
}

@media (max-width: 767px) {
  .header-center .title-header-container>h1,
  .header-center .title-header-container>span {
    font-size: 40px;
  }
}

.header-center a:link,
.header-center a:visited,
.header-center a:active,
.header-center a:hover {
  color: #000;
  text-decoration: none;
  display: block;
  width: auto;
  max-width: 400px;
}

@media (max-width: 767px) {
  .header-center a:link,
  .header-center a:visited,
  .header-center a:active,
  .header-center a:hover {
    max-width: initial;
    width: initial;
  }
}

.site-footer {
  background: #000;
  color: #fff;
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

.site-footer .wrapper {
  overflow: auto;
  padding-bottom: 55px;
  padding-top: 55px;
}

.site-footer h2 {
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0;
}

.site-footer h2.org-name {
  font-size: 14px;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer a:hover .event {
  opacity: .8;
}

.site-footer .center-col,
.site-footer .left-col,
.site-footer .right-col {
  border-width: 0 1px;
  padding: 0 25px;
  margin: 0 -10px;
}

@media (max-width: 767px) {
  .site-footer .center-col,
  .site-footer .left-col,
  .site-footer .right-col {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

.site-footer .center-col {
  border-style: solid;
  border-color: #3e3e3e;
}

.site-footer .footer-news {
  list-style: none;
  margin-top: 14px;
  padding-left: 0;
}

.site-footer .footer-news h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto 8px;
}

.site-footer .footer-news .news-item {
  border-radius: 2px;
  margin-bottom: 18px;
  margin-top: -18px;
  padding-bottom: 18px;
  padding-top: 18px;
}

.site-footer .footer-news a:hover .news-item {
  opacity: .8;
}

@media (max-width: 767px) {
  .site-footer .footer-news a:hover .news-item {
    border-radius: 0;
  }
}

.site-footer .footer-events {
  margin-top: 12px;
}

.site-footer .footer-events .event {
  border-radius: 2px;
  margin-bottom: 18px;
  margin-top: -18px;
  padding-top: 18px;
}

.site-footer .footer-events .event-date {
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
}

@media (max-width: 767px) {
  .site-footer .footer-events .event-date {
    border: 0;
  }
}

.site-footer .footer-events .event-date .month {
  background: #fff;
  color: #000;
  display: block;
  font-weight: 700;
  padding: 12px auto;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .site-footer .footer-events .event-date .month {
    background: transparent;
    color: #fff;
  }
}

.site-footer .footer-events .event-date .day {
  font-size: 22px;
}

.site-footer .footer-events .event-details h3 {
  margin: 0 auto 8px;
  font-size: 18px;
}

.site-footer .footer-events .event-details .time {
  font-style: italic;
}

.site-footer .all-link {
  color: #fc0;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  text-align: right;
  font-family: "archer_boldregular","Archer A","Archer B","Palatino Linotype","Book Antiqua",Palatino,Georgia,serif;
  font-style: italic;
}

@media (max-width: 767px) {
  .site-footer .all-link {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    text-align: left;
  }
}

.site-footer .read-more {
  color: #fc0;
  text-decoration: underline;
}

.site-footer .site-footer-menu li {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.site-footer .site-footer-menu li a {
  color: #fff;
  font-size: 10px;
}

.site-footer .site-footer-menu li:last-child {
  border-right: none;
}

.site-footer .social {
  margin-bottom: 24px;
}

.site-footer .social .social-icon {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin: 0 5px;
  padding-top: 5px;
  width: 32px;
}

.site-footer .social .social-icon:hover {
  background: #D4D4D4;
}

.site-footer .social span {
  color: #3E3E3E;
  padding: 6px;
  font-size: 24px;
  line-height: 0;
}

.site-footer .social span.fa-facebook {
  font-size: 20px;
  padding: 6px 8px 0 8px;
}

.site-footer .social span.fa-twitter {
  font-size: 20px;
}

.site-footer .social span.fa-google-plus {
  font-size: 20px;
  padding: 0 2px 0 4px;
}

.site-footer .social span.fa-linkedin {
  font-size: 20px;
  padding: 4px 8px;
}

.main-site-footer {
  background: #3e3e3e;
  padding: 48px 0;
  text-align: center;
}

.main-site-footer .main-site-title {
  color: #fff;
  font-family: "gotham_boldregular","Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  font-size: 19px;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 992px) {
  .pull-md-right {
    float: right;
  }
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

#ucfhb a,
#ucfhb label {
  color: #edba03;
}

img[src=""],
img[src="null"] {
  display: none;
}

body.jsEnabled .noscript,
body.jsEnabled .hide-if-js {
  display: none;
}

body.nojs .hide-if-no-js,
body.no-js .hide-if-no-js {
  display: none;
}

body {
  font-family: "gotham_lightregular", helvetica, arial, sans-serif;
  line-height: 1.72857;
}

* {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

article.page-wrap {
  margin-bottom: 32px;
}

article.page-wrap h2.title {
  font-family: "gotham_lightregular", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.adminmsg {
  color: #e90000;
}

