<span class="filter-by">
    <h2>Filter By</h2>
    <div class="panel panel-default">
        <ul class="list-group">
            <li *ngFor="let category of categories"
                class="cat-item cat-item-{{category.cat_ID}}"
                (change)="onFilterChanged($event)">
                <input class="filter-checkbox" type="checkbox" id="filter-services-{{category.cat_ID}}" 
                        [(ngModel)]='category.checked'
                        [attr.data-name]='category.name'
                        [attr.data-cat_ID]='category.cat_ID'>
                <label class="list-group-item filter-label" [attr.for]="'filter-services-' + category.cat_ID"
                        [innerHTML]='category.name  | unescapeHtml'>
                    
                </label>
            </li>
            <span class='filter-no-categories' *ngIf='!hasCategories()'><!-- No categories --></span>
        </ul>
    </div>
</span>