@import url('style.min-blessed1.css?z=1460384882593');
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header-center .title-header-container>h1,
.header-center .title-header-container>span,
.lead,
h1,
h2,
h3,
h4,
h5,
h6 {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: "Archer", "Archer A", "Archer B", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif
}

.site-footer,
.site-footer h2 {
    font-family: "Gotham", "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif
}

@media (max-width:767px) {
    .header-center .weather {
        font-size: 13px;
        padding: 0 14px
    }
}

.header-center .weather .icon {
    display: inline-block;
    padding-right: 6px
}

.header-center .weather .icon span {
    color: #ffc904;
    font-size: 27px;
    display: inline-block;
    position: relative;
    bottom: -3px
}

@media (max-width:767px) {
    .header-center .weather .icon {
        padding-right: 4px
    }
    .header-center .weather .icon span {
        font-size: 20px
    }
}

.header-center .weather .vertical-rule {
    border-left: 1px solid #fff;
    margin-left: 4px;
    margin-right: 6px;
    width: 2px
}

.header-center .weather .temp {
    margin-left: 4px;
    font-weight: 800
}

.site-footer {
    background: #000;
    color: #fff
}

.site-footer .wrapper {
    overflow: auto;
    padding-bottom: 55px;
    padding-top: 55px
}

.site-footer h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 0
}

.site-footer h2.org-name {
    font-size: 14px
}

.site-footer a {
    color: #fff
}

.site-footer a:hover {
    color: #fff;
    text-decoration: none
}

.site-footer .center-col,
.site-footer .left-col,
.site-footer .right-col {
    border-width: 0 1px;
    padding: 0 25px;
    margin: 0 -10px
}

@media (max-width:767px) {
    .site-footer .center-col,
    .site-footer .left-col,
    .site-footer .right-col {
        border: 0;
        padding: 0;
        margin: 0
    }
}

.site-footer .center-col {
    border-style: solid;
    border-color: #3e3e3e
}

.site-footer .footer-news {
    list-style: none;
    margin-top: 14px;
    padding-left: 0
}

.site-footer .footer-news h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 8px
}

.site-footer .footer-news .news-item {
    border-radius: 2px;
    margin-bottom: 18px;
    margin-top: -18px;
    padding-bottom: 18px;
    padding-top: 18px
}

@media (max-width:767px) {
    .site-footer .footer-news a:hover .news-item {
        border-radius: 0
    }
}

.site-footer .footer-events {
    margin-top: 12px
}

.site-footer .footer-events .event {
    border-radius: 2px;
    margin-bottom: 18px;
    margin-top: -18px;
    padding-top: 18px
}

.site-footer .footer-events .event-date {
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center
}

.site-footer .footer-events .event-date .month {
    background: #fff;
    color: #000;
    display: block;
    font-weight: 700;
    padding: 12px auto;
    text-transform: uppercase
}

@media (max-width:767px) {
    .site-footer .footer-events .event-date {
        border: 0
    }
    .site-footer .footer-events .event-date .month {
        background: 0 0;
        color: #fff
    }
}

.site-footer .footer-events .event-date .day {
    font-size: 22px
}

.site-footer .footer-events .event-details h4 {
    margin: 0 auto 8px
}

.site-footer .footer-events .event-details .time {
    font-style: italic
}

.site-footer .all-link {
    color: #fc0;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    text-align: right;
    font-family: "Archer A", "Archer B", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-style: italic
}

@media (max-width:767px) {
    .site-footer .all-link {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 50px;
        text-align: left
    }
}

.site-footer .read-more {
    color: #fc0
}

.site-footer .site-footer-menu li {
    border-right: 1px solid #fff;
    padding-right: 10px
}

.site-footer .site-footer-menu li a {
    color: #fff;
    font-size: 10px
}

.site-footer .site-footer-menu li:last-child {
    border-right: none
}

.site-footer .social {
    margin-bottom: 24px
}

.site-footer .social .social-icon {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    margin: 0 5px;
    padding-top: 10px;
    width: 32px
}

.site-footer .social .social-icon:hover {
    background: #D4D4D4
}

.site-footer .social span {
    color: #3E3E3E;
    padding: 6px;
    font-size: 24px;
    line-height: 0
}

.site-footer .social span.fa-facebook {
    font-size: 20px;
    padding: 6px 8px 0
}

.site-footer .social span.fa-twitter {
    font-size: 20px
}

.site-footer .social span.fa-google-plus {
    font-size: 20px;
    padding: 0 2px 0 4px
}

.site-footer .social span.fa-linkedin {
    font-size: 20px;
    padding: 4px 8px
}

.main-site-footer {
    background: #3e3e3e;
    padding: 48px 0;
    text-align: center
}

.main-site-footer .main-site-title {
    color: #fff;
    font-family: "Gotham", "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 3px
}

#gform_fields_1 {
    list-style: none;
    padding: 0
}

.ginput_container>textarea {
    height: 100px
}

.gfield {
    margin-bottom: 12px
}

.gfield .gfield_label {
    display: none!important
}

.gform_button {
    background: #fc0;
    color: #fff
}