@import url('style.min-blessed1.css?z=1460384882593');
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header-center .title-header-container>h1,
.header-center .title-header-container>span,
.lead,
h1,
h2,
h3,
h4,
h5,
h6 {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: "Archer", "Archer A", "Archer B", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif
}

.site-header {
    margin-bottom: 20px;
    padding-bottom: 70px
}

.header-image {
    background-position: center center;
    width: 100%;
    min-height: 600px
}

.header-center {
    display: table;
    position: relative;
    top: 400px;
    float: right;
}

@media (max-width:767px) {
    .site-header {
        padding-bottom: 20px
    }
    .header-image {
        background-size: cover;
        min-height: 0
    }
    .header-center {
        height: 400px;
        position: relative;
        top: 0
    }
}

.header-center .title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.header-center .header-title {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center
}

.header-center .title-header-container {
    display: table;
    margin: 0 auto;
    position: relative;
    top: -80px
}

.header-center .title-header-container>h1,
.header-center .title-header-container>span {
    background-color: #FC0;
    background-color: rgba(255, 204, 0, .8);
    display: block;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
    padding: 4px 30px;
    text-transform: uppercase
}

@media (max-width:1199px) {
    .header-center .title-header-container>h1,
    .header-center .title-header-container>span {
        font-size: 68px
    }
}

@media (max-width:991px) {
    .header-center .title-header-container>h1,
    .header-center .title-header-container>span {
        font-size: 55px
    }
}

@media (max-width:767px) {
    .header-center .title-header-container {
        top: -100px
    }
    .header-center .title-header-container>h1,
    .header-center .title-header-container>span {
        font-size: 40px
    }
}

.header-center a:active,
.header-center a:hover,
.header-center a:link,
.header-center a:visited {
    color: #000;
    text-decoration: none
}

.header-center .weather {
    background: #000;
    display: inline-block;
    color: #fff;
    font-family: "Archer", "Archer A", "Archer B", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size: 18px;
    line-height: 32px;
    padding: 6px 20px;
    position: absolute;
    right: 0;
    letter-spacing: 1.35px;
    font-weight: 100
}

@media (max-width:767px) {
    .header-center .weather {
        font-size: 13px;
        padding: 0 14px
    }
}

.header-center .weather .icon {
    display: inline-block;
    padding-right: 6px
}

.header-center .weather .icon span {
    color: #ffc904;
    font-size: 27px;
    display: inline-block;
    position: relative;
    bottom: -3px
}

@media (max-width:767px) {
    .header-center .weather .icon {
        padding-right: 4px
    }
    .header-center .weather .icon span {
        font-size: 20px
    }
}

.header-center .weather .vertical-rule {
    border-left: 1px solid #fff;
    margin-left: 4px;
    margin-right: 6px;
    width: 2px
}

.header-center .weather .temp {
    margin-left: 4px;
    font-weight: 800
}